.mainContact>section {
    width: 50%;
    height: 100vh;
}

.mainContact>section iframe {
    width: 100%;
}

.mainContact>section p {
    font-size: 1.5em;
}

.mainContact>section a {
    color: #25802A;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .mainContact>section {
        width: 100%;
        height: auto;
    }

    .mainContact>section iframe {
        width: 100%;
    }

    .mainContact>section p {
        font-size: 1em;
    }

    .mainContact>section a {
        color: #25802A;
        font-size: 1em;
    }
}