@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900|Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.nav-bar {
    background: #ffffffa1;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    transition: top 0.3s;
}

.nav-bar__label {
    color: #000;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: inherit;
}

.nav-bar__label::after,
.nav-bar__sub-label::after {
    content: " +";
}

.nav-bar__label,
.nav-bar__sub-label {
    cursor: pointer;
}

.nav-bar__list {
    background: #ffffffa1;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.burguerLogo {
    width: 50px;
}

.logo-nav {
    width: 250px;
}

.nav-bar__list,
[id^="toggle"] {
    display: none;
}

[id^="toggle"]:checked+.nav-bar__list {
    display: block;
}

.nav-bar__list-item {
    display: block;
}

.nav-bar__link,
.nav-bar__sub-label {
    color: #000;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    word-wrap: break-word;
    font-weight: bolder;
}

.nav-bar__list-item .nav-bar__list-item .nav-bar__link,
.nav-bar__list-item .nav-bar__list-item .nav-bar__sub-label {
    padding: 10px 10px 10px 30px;
}

.nav-bar__link:hover,
.nav-bar__link:active,
.nav-bar__sub-label:hover {
    background: transparent;
    color: #7FC32B;
}

@media all and (min-width: 992px) {
    .nav-bar>.nav-bar__label {
        display: none;
    }

    .nav-bar>.nav-bar__list {
        display: block;
    }

    .nav-bar>.nav-bar__list>.nav-bar__list-item {
        display: inline-block;
        position: relative;
    }

    .nav-bar__list-item .nav-bar__list {
        position: absolute;
    }

    .nav-bar__list-item .nav-bar__list-item .nav-bar__link,
    .nav-bar__list-item .nav-bar__list-item .nav-bar__sub-label {
        padding: 10px 20px;
    }
}

.socialNetworks {
    background: #86ae35ad;
    position: fixed;
    left: 0;
    top: 6em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 9999;
}

.socialNetworks a img {
    width: 25px;
    filter: invert(100%);
}

.goUp {
    background-color: #fff;
    border: solid 1px;
    border-radius: 50%;
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 999999;
}

.goUp a img {
    width: 30px;
}

.customContainer {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img,
.carousel-inner>.item>video,
.carousel-inner>.item>a>video {
    width: 100%;
    height: 100vh;
    margin: auto;
    object-fit: cover;
}

.carousel-control {
    width: 8%;
}

.carousel-caption {
    /* right: 20%; */
    width: 100%;
    left: 0;
    bottom: 20px;
    padding: 40px 0;
    background: #00000088;
    font-size: 25px;
    padding:15px;
}
/* ------- main ---- */
.main-title {
margin: 0;
padding: 0;
top: 30%;
left: 2em;
position: absolute;
text-align: left;
color: white;
text-shadow: 0 10px 20px rgba(0,0,0,1);
mix-blend-mode: difference;
font-size: 6em;
z-index: 9999;
font-family: 'Abril Fatface', cursive;
}

.backgroundHome {
    width: 100%;
    height: 80vh;
    background-image: url('../assets/img/background-home.png');
    background-size: cover;
    background-position: center;
}

hr {
    width: 4em;
    border: none;
    height: 3px;
    background: #7FC32B;
    margin: 0 8px;
}

.sustentabilidad>div h2 {
    font-size: 2.5em;
    font-weight: lighter;
    color: #25802A;
}

.sustentabilidad>p {
    font-size: 15px;
    font-weight: bold;
}

.tablaReciclaje img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.acopio img {
    width: 100%;
    object-fit: cover;
}

.counterContainer {
    width: 100%;
    height: 20vh;
    background: #7FC32B;
    font-family: 'Raleway', sans-serif;
}

.counterContainer>div {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.counterContainer>div p {
    color: #fff;
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
    line-height: 25px;
}

.bigSizeCounter {
    font-size: 2.5em;
    font-weight: 900;
}

.cardsContainer>section div div img {
    margin-top: 5px;
    margin-right: 15px;
}

.cardsContainer>section div div h2 {
    font-size: 20px;
}

.cardsContainer>section div div p {
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}

.productos>h2,
.economyText>div h2 {
    font-size: 2.5em;
    font-weight: lighter;
    color: #25802A;
}

.image1 {
    background-image: url('../assets/img/pellets/PE Pellet Alto Peso Molecular (APM) (1).png');
    height: 350px;
    padding: 0;
    background-size: cover;
}

.image2 {
    background-image: url('../assets/img/pellets/PE Pellet Negro (1).png');
    height: 350px;
    padding: 0;
    background-size: cover;
}

.image3 {
    background-image: url('../assets/img/pellets/PP Pellet Beige (1).png');
    height: 350px;
    padding: 0;
    background-size: cover;
}

.image4 {
    background-image: url('../assets/img/pellets/PP Pellet Etiqueta Marron (1).png');
    height: 350px;
    padding: 0;
    background-size: cover;
}

.image5 {
    background-image: url('../assets/img/pellets/PS Pellet Gris (1).png');
    height: 350px;
    padding: 0;
    background-size: cover;
}

.image6 {
    background-image: url('../assets/img/pellets/PS Pellet Negro (1).png');
    height: 350px;
    padding: 0;
    background-size: cover;
}

.image7 {
    background-image: url('../assets/img/pellets/TPO Pellet Negro (1).png');
    height: 350px;
    padding: 0;
    background-size: cover;
}

.productsContainer>section div div {
    background: transparent;
    height: 350px;
    padding: 1em;
    color: transparent;
    transition: 0.5s all ease;
    font-size: 2em;
    text-align: center;
}

.productsContainer>section div div:hover {
    background: #00000093;
    color: #fff;
}

.nuevosDesarrollosContainer>section {
    height: 200px;
}

.nuevosDesarrollosContainer>section article:nth-child(1) {
    background-color: #0A4B17;
    color: #fff;
}

.nuevosDesarrollosContainer>section article:nth-child(1) p span {
    font-size: 25px;
    border-bottom: solid 1px #7FC32B;
    font-weight: lighter;
}

.nuevosDesarrollosContainer>section article:nth-child(1) p {
    font-size: 35px;
    font-weight: lighter;
}

.nuevosDesarrollosContainer>section article:nth-child(2) {
    background-color: #7FC32B;
}

.nuevosDesarrollosContainer>section article:nth-child(2) div img {
    width: 250px;
}

.nuevosDesarrollosContainer>section article:nth-child(2) p {
    font-size: 1.1em;
}

.nuevosDesarrollosContainer>section article:nth-child(2) p span {
    font-weight: bold;
    font-size: 1.1em;
}

footer {
    width: 100%;
    background: #0A4B17;
    color: #fff;
}

footer > section section a {
    color: #fff;
}

footer > section section a:hover {
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .backgroundHome {
        height: auto;
    }

    .counterContainer {
        height: auto;
    }

    .nuevosDesarrollosContainer>section {
        height: auto;
    }
}